@tailwind base;
@tailwind components;
@tailwind utilities;
.landing {
  min-height: 83vh;
  display: flex;
  align-items: center;
  background-image: url(./background1.jpg);
  background-position: center;
  background-size: cover;
}

::-webkit-scrollbar {
  width: 5px;
  height: 0px;
}

::-webkit-scrollbar-track {
  background-color: #fbfbfb;
}

::-webkit-scrollbar-thumb {
  background-color: #3A3F44;
  border-radius: 12px;
}
